.button {
  color: var(--color-primary);
  text-decoration: underline;
  padding: 0;
  border: none;
}

.count {
  padding: 1px var(--size-20);
  color: var(--color-primary);
  background-color: var(--color-background-highlight);
  font-weight: var(--font-weight-bold);
  border-radius: var(--radius-3);
}
