.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: var(--font-family-body);
  gap: var(--size-20);
}

.header {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-heading);
  font-size: var(--font-size-4);
}
