.container {
  display: grid;
  gap: var(--size-30);
  grid-template-rows: 0fr;
  grid-template-columns: 1fr auto;
  transition: grid-template-rows 0.25s ease-in-out;
  margin-bottom: var(--size-10);
}

.containerOpen {
  grid-template-rows: 1fr;
}

.button {
  align-self: start;
}

.list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--size-20);
  list-style: none;
  margin: 0;
  padding-left: 0;
  overflow: hidden;
}

.list::before {
  content: "";
  position: absolute;
  width: 3px;
  height: calc(100% - 12px);
  background: var(--color-neutral-300);
  left: 9px;
  top: 6px;
}

.listOpen {
  grid-template-rows: 1fr;
}

.listItem {
  display: flex;
  align-items: center;
  gap: var(--size-30);
  padding: calc(var(--size-20) - 2px) 0;
}

.link {
  text-decoration: none;
  color: var(--color-text);
}

.activeLink {
  text-decoration: none;
}

.icon path {
  stroke: var(--link-color);
}

.iconOpen {
  transform: translateY(0px);
}
