.container {
  width: 100%;
  height: var(--size-70);
  text-align: center;
  margin: 0;
  padding: var(--size-30) 0;
}

.innerWrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}
