.footer {
  display: flex;
  flex-direction: column;
  gap: var(--size-40);
  max-width: var(--max-page-width);
  margin: 0 auto;
  padding: var(--size-60) 0;
  /* TODO: update inverted colour in Mobius */
  color: var(--color-neutral-300);
}

.footer a {
  /* TODO: add --color-cyan-500 to Mobius */
  color: #00d4ff;
}
