.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.amount {
  margin: 0;
}

.totalLabel {
  text-transform: uppercase;
  color: var(--color-text-medium);
  text-align: right;
}

.totalAmount {
  font-weight: var(--font-weight-bold);
  text-align: right;
}
