.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  list-style-position: inside;
  margin: 0;
  padding-left: 0;
  overflow: hidden;
  font-size: var(--font-size-2);
  width: 100%;
}

.listItem {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: var(--size-20);
  gap: var(--size-20);
}
