.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

/* Cannot use var(--max-page-width) in media query */
@media (min-width: 600px) {
  .main {
    margin: 0 auto;
    width: var(--max-page-width);
    padding: 0 16px;
  }
}
